#vuvupic {position:fixed;bottom:0px;cursor:pointer;}
#nomoreplz {display:none;position:absolute;bottom:0px;width:100%;color:white;font-size:16px;font-weight:bolder;background:blue};
#vuvusound {position:absolute;left:-3333px}